.dropdown:hover>.dropdown-menu{
    display: block;
    padding-right: 20px;
}
.dropdown-menu a:hover{
    background-color:#fff ;
    color: rgb(88, 88, 237);
   
}
.dropdown-menu{
    margin-top: 2.8rem;
    border-radius: 0;
}
.navbar .navbar-nav .nav-link{
    color:rgb(119, 117, 117);
    font-size: 1.1em;
    padding: 0 0.5em;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link{
border-right: 1px solid rgb(219, 215, 215);
padding: 0 0.8em 0 0.8em;
}
@media screen and (max-width:992px) {
     .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav{
        flex-direction: column;
        
    }
    .navbar-collapse{
        width: 50vw;
        height: 100vh;
        background-color: aquamarine;
        right:0;
    }
}
